@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RegisterModel

<div class="inner_page_agile">
	<h3>Register</h3>


</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
	<div class="inner_breadcrumb">

		<ul class="short_w3ls" _w3ls>
			<li><a href="index.html">Home</a><span>|</span></li>
			<li>Register</li>
		</ul>
	</div>
</div>
<!--//w3_short-->
<!-- /inner_content -->
<div class="inner_content_info_agileits">
	<div class="container">
		<div class="tittle_head_w3ls">
			<h3 class="tittle three">Register Now </h3>
		</div>
		<div class="inner_sec_grids_info_w3ls">
			<div class="signin-form">
				<div class="login-form-rec">
					<form asp-action="RegisterRecruiter" method="post">
						@* <div asp-validation-summary="All" class="text-danger"></div> *@
						<div class="form-group">
							<input type="text" class="form-control" asp-for="UserName" class="mb-2" placeholder="Username" required />
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							<input type="email" class="form-control" asp-for="Email" class="mb-2" placeholder="Email" required />
							@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							<input type="text" class="form-control" asp-for="Company" placeholder="Company" required />
							@Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							<input type="tel" class="form-control" asp-for="PhoneNumber" class="mb-2" placeholder="Phone" required />
							@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							<input type="password" class="form-control" asp-for="Password" placeholder="Password" required />
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>						
						<div class="form-group">
							<input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required />
							@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
						</div>
						<select class="form-control" asp-for="Gender">
							<option value="">Gender</option>
							<option value="Male">Nam</option>
							<option value="Female">Nữ</option>
							<option value="Other">Khác</option>
						</select>
						@Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })

						<div class="form-group">
							<label for="accountType">Register as:</label>
							<div class="btn-group" role="group">
								<!-- Nút cho Candidate -->
								<a asp-controller="Auth" asp-action="RegisterCandidate" asp-route-accountType="Candidate" class="btn btn-secondary btn-sm" style=" font-weight: 600;">Candidate</a>
								<!-- Nút cho Recruiter -->
								<a asp-controller="Auth" asp-action="RegisterRecruiter" class="btn btn-secondary btn-sm" style="color: #21c718; font-weight: 600;">Recruiter</a>
							</div>
						</div>

						<input type="submit" class="btn btn-primary" value="RegisterRecruiter">
					</form>

				</div>
				<div class="form-group text-center mt-3">
					<a asp-action="Login" class="btn btn-link">Login your account</a>
				</div>
				<p class="reg"><a href="#"> By clicking register, I agree to your terms</a></p>

			</div>
		</div>
	</div>
</div>

